.container {
  margin-top: 8px;
}

.iconitem {
  display: flex;
  height: 40px; /* Match icon size, set in _app.css */
  padding: 4px;

  border-bottom: 1px solid black;
}

.iconitem:last-child {
  border-bottom: none;
}

.icondesc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 8px;
}

.flavortext {
  color: gray;
  font-size: 15px;
}
