html {
  background-color: #fafafa;
}

body {
  /* background: antiquewhite; */
  font-family: -apple-system, BlinkMacSystemFont, Inter, "Segoe UI";
  font-size: 16px;
}

#body{
  height: 100vh;
}

/* Main container */

#page {
  display: flex;
  justify-content: center;

  width: 100%;
  height: 100%;
}

#container {
  width: 800px;
  padding-top: 6px;
}

#stupidspace {
  height: 24px;
}

/* Generic styles */

h1, h2, h3 {
  margin: 0px;
}

ol, ul {
  margin: 8px 0px;
  padding: 0px 32px;
}

ol ol, ul ol {
  margin: 0px;
}

li {
  padding: 1px 0px;
}

.lpadding-8 {
  padding-left: 8px;
}

.flex {
  display: flex;
}

.gap-4 {
  gap: 4px;
}

/* "Specific" generic styles */

.bigflavortext {
  color: #36454F; /* "Charcoal" */
  font-size: 16px;
}

.flavortext {
  color: gray;
  font-size: 15px;
}

.icon {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.icon-border {
  border: .5px solid darkgray;
  background-color: #f0f0f0;
}

.icon-cage-40 {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 40px;
  width: 40px;
  border-radius: 5px;
}

.icon-cage-30 {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 30px;
  width: 30px;
  border-radius: 3px;
}

/* WIP Styles */



/* To be deprecated */

.maple-icon {
  height: 40px;
  width: 40px;
  border-radius: 5px;
}
