html {
  background-color: #fafafa;
}

body {
  /* background: antiquewhite; */
  font-family: -apple-system, BlinkMacSystemFont, Inter, "Segoe UI";
  font-size: 16px;
}

h1, h2, h3 {
  margin: 0px;
}

ol, ul {
  margin: 8px 0px;
  padding: 0px 32px;
}

ol ol, ul ol {
  margin: 0px;
}

li {
  padding: 1px 0px;
}

#body{
  height: 100vh;
}

.left-padding {
  padding-left: 8px;
}



/* Main container */

#page {
  display: flex;
  justify-content: center;

  width: 100%;
  height: 100%;
}

#container {
  width: 800px;
  padding-top: 6px;
}

#stupidspace {
  height: 24px;
}

.maple-icon {
  height: 40px;
  width: 40px;
  border-radius: 5px;
}

.maple-icon-small {
  height: 30px;
  /* width: 30px; */
  border-radius: 3px;
  border: .25px solid darkgray;
  background-color: #d3d3d3;
}

.flavortext {
  color: gray;
  font-size: 15px;
}

/* Gear list */

#gear-table {
  border-collapse: collapse;
  border: none;
  /* width: 100%; */
}

#gear-table .image-cage {
  width: 100%;
  text-align: center;
}

/* #gear-table td:first-child {
  width: 1%;
} */

#gear-table td {
  border-bottom: 1px solid black;
  padding: 4px 8px;
}

#gear-table tr:last-child td {
  border-bottom: none;
}

#gear-table td img {
  vertical-align: middle;
  margin-right: 8px;
}

#gear-table td img:last-child {
  margin-right: 0px;
}
