body {
  background: antiquewhite;
  font-family: -apple-system, BlinkMacSystemFont, Inter, "Segoe UI";
}

#body {
  display: flex;
  justify-content: center;
}

#container {
  width: 800px;
}

.maple-icon {
  height: 48px;
  width: 48px;
}
