.container {
  margin-top: 8px;
}

/* Shared */

.iconitem {
  padding: 4px;
  display: flex;
  gap: 8px;
}

.iconitem:last-child {
  border-bottom: none;
}

.iconhalf {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Standard layout */

.icondesc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-grow: 100; /* Arbitrary number to fill space */
}

.iconhalfright {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: right;
}
